<header id="header">
    <!-- En la linea 22 implementamos una variable definida en "04_indexWebServer.js" a traves de hbs. Lineas 16 & 17 -->
    <!-- <div class="logo"><a href="/">Road Trip <span>by TEMPLATED</span></a></div> -->
    <div class="logo"><a href="/">{{ titulo }} <span>{{ nombre }}</span></a></div>
    <a href="#menu"><span>Menu</span></a>
</header>